/* menu.scss */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.8rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 11;
}

.menu-bar {
    width: 25px;
    height: 3px;
    background-color: #BDC3C7;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.menu {
    display: none;
    flex-direction: column;
    list-style: none;
    background: 
                linear-gradient(to left, #0A3D62 60%, transparent 150%),
                linear-gradient(to top, #3498DB 65%, #0A3D62 100%);
    position: fixed;
    top: 9.5%;
    right: 0;
    padding: 4rem;
    border-radius: 0 5px 5px 0;
    width: 250px;
    height: 30vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: #BDC3C7;
    text-decoration: none;
    font-size: 1.2em;
}

.menu.active {
    display: flex;
    animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}