{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/graphics/analise-financeira/receita-despesa.css' %}">
{% endblock extra_css %}
{% block body_class %}
{% endblock body_class %}

{% block content %}

    <div class="tableauPlaceholder tableauPlaceholder-receita-despesas" id="viz1723764095480">
        <noscript>
            <a href="#">
                <img alt="Receita vs Despesa ao Longo do Tempo " 
                    height="auto"
                    width="auto"
                    src="{# Linting begins #}https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;An&#47;AnliseFinanceira-ReceitavsDespesaaoLongodoTempo&#47;ReceitavsDespesaaoLongodoTempo&#47;1_rss.png{# Linting ends #}"/>
            </a>
        </noscript>
            <object class="tableauViz tableauViz-receita-despesas">
                <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" /> 
                <param name="embed_code_version" value="3" /> 
                <param name="site_root" value="" />
                <param name="name" value="{# Linting begins #}AnliseFinanceira-ReceitavsDespesaaoLongodoTempo&#47;ReceitavsDespesaaoLongodoTempo{# Linting ends #}" />
                <param name="tabs" value="no" />
                <param name="toolbar" value="yes" />
                <param name="static_image" 
                    value="{# Linting begins #}https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;An&#47;AnliseFinanceira-ReceitavsDespesaaoLongodoTempo&#47;ReceitavsDespesaaoLongodoTempo&#47;1.png{# Linting ends #}" /> 
                <param name="animate_transition" value="yes" />
                <param name="display_static_image" value="yes" />
                <param name="display_spinner" value="yes" />
                <param name="display_overlay" value="yes" />
                <param name="display_count" value="yes" />
                <param name="language" value="pt-BR" />
            </object></div>                
            <script type="text/javascript">                   
                var divElement = document.getElementById("viz1723764095480");                    
                var vizElement = divElement.getElementsByTagName("object")[0];                                     
                var scriptElement = document.createElement("script");                    
                scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
            </script>

{% endblock content %}