img {
    border: none;
}

.tableauPlaceholder {
    position: relative;

    &-produto-por-regiao {
        width: 37rem !important;
        height: 20rem !important;
    }
}

.tableauViz {
    display: none;
    width: 27rem;

    &-produto-por-regiao {
        height: 22rem;
        width: 41rem !important;
    }
}