img {
    border: none;
}

.tableauPlaceholder {
    position: relative;

    &-custo-tempo {
        width: 50rem !important;
        height: 28rem !important;
    }
}

.tableauViz-custo-tempo {
    display: none;
    width: 50rem !important;
    height: 30rem;
}