{% load static %}
<!DOCTYOPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site para simulação de soluções com dados.">
        <meta name="keywords" content="">
        <title>
            Consultoria com Base em Dados
        </title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body class="{% block body_class %}{% endblock body_class %}">
        <header>
            {% include "menu.html" %}
            <div class="header-content">Transforme Dados em Decisões
                <p>Capacitando sua empresa com insights valiosos</p>
            </div>
        </header>
        {% comment %} {% include 'navbar.html' %} {% endcomment %}
        <div class="right-side-gradient"></div>
            {% block content %}
            {% endblock content %}
        {% comment %} {% include 'footer.html' %} {% endcomment %}
        {% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}

        <footer>
            {% comment %} <p>&copy; 2024 Ivan Lopes Alonso - Consultoria de Dados</p> {% endcomment %}
        </footer>
    </body>
</html>
