{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extra_css %}
{% block body_class %}
{% endblock body_class %}

{% block content %}
    <div class="contacts-content-container">
        <p>
            <span class="bold">Contato: </span>
            <span class="italic">Ivan Lopes Alonso</span>
        </p>
        <p>
            <span class="bold">E-mail: </span>
            <span class="italic">calintz1@hotmail.com</span>
        </p>
        <p>
            <span class="bold">Whats App: </span>
            <span class="italic">(19) 9 9191-8921</span>
        </p>
    </div>
{% endblock content %}