{% extends "base.html" %}
{% load static %}

{% block metatags %}
    <title>Exemplos de Análises de Dados</title>
    <!-- Meta Description -->
    <meta name="description" content="Veja exemplos de análises de dados realizadas pela Horizon Data Labs, incluindo gráficos e dashboards interativos.">
    <!-- Meta Keywords -->
    <meta name="keywords" content="exemplos, análises de dados, gráficos, Tableau, dashboards">
    <!-- Meta Charset -->
    <meta charset="UTF-8">
    <!-- Meta Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta Robots -->
    <meta name="robots" content="index, follow">
    <!-- Meta Autor -->
    <meta name="author" content="Horizon Data Labs">
{% endblock metatags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/examples.css' %}">
{% endblock extra_css %}
{% block body_class %}
{% endblock body_class %}

{% block content %}

<div class="examples-content-container">
    <div class="graphics">
        <span class="mobile-only bold">Para uma melhor visualização dos gráficos, </span>
        <span class="mobile-only bold">favor acessar em dispositivos desktop.</span>
        <p class="titles">
            Análise de Venda e Performance
        </p>
        <div>
            {% include "graphics/analise-venda/analise-venda.html" %}
        </div>
        <div>
            {% include "graphics/analise-venda/produto-por-regiao.html" %}
        </div>
        <div>
            {% include "graphics/analise-venda/venda-por-produto.html" %}
        </div>
        <div>
            {% include "graphics/analise-venda/analise-temporal.html" %}
        </div>

        <p class="titles">
            Análise Financeira
        </p>
        <div>
            {% include "graphics/analise-financeira/despesas-por-categoria.html" %}
        </div>
        <div>
            {% include "graphics/analise-financeira/receita-despesa.html" %}
        </div>

        <p class="titles">
            Análise de Desempenho Operacional
        </p>
        <div>
            {% include "graphics/desempenho-operacional/kpi.html" %}
        </div>
        <div>
            {% include "graphics/desempenho-operacional/eficiencia-producao.html" %}
        </div>
        <div>
            {% include "graphics/desempenho-operacional/relacao-custo-tempo.html" %}
        </div>
    </div>
</div>
{% endblock content %}