<nav class="navbar">
    <div class="menu-toggle">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
    </div>
    <ul class="menu" id="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'examples' %}">Exemplos de Análises</a></li>
        <li><a href="{% url 'services' %}">Serviços</a></li>
        <li><a href="{% url 'about' %}">Sobre</a></li>
        <li><a href="{% url 'contact' %}">Contato</a></li>
    </ul>
</nav>